/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

header {
  background-color: #ff0000;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  color: #fff;
}

header img {
  max-width: 100%;
}

h1 {
  font-size: 3rem;
  margin: 20px 0 10px 0;
  text-align: center;
}

main {
  margin: 40px;
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

ul {
  list-style: none;
}

a {
  color: #1c1c1c;
  text-decoration: none;
}

/* Carousel */
.slider {
  display: flex;
  width: 90%;
  margin: auto;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.slider::-webkit-scrollbar {
  display: none;
}

.slider > * {
  flex: 0 0 auto;
  scroll-snap-align: center;
  width: 100%;
  height: 500px;
  object-fit: cover;
  margin-right: 10px;
}

/* Latest Articles */
.latest-articles li::before {
  content: "\f0a4";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
  color: #1c1c1c;
}

/* Social Media Icons */
.icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icons a {
  margin: 0 10px;
}

.icons img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}
